/* Custom error and success styles */
.error-text {
	color: #d32f2f !important;
}
.success-text {
	color: #388e3c !important;
}
.input-error .MuiInputBase-input {
	color: #d32f2f !important;
}
.input-error .MuiOutlinedInput-root {
	border-color: #d32f2f !important;
}
.mt-2 {
	margin-top: 0.5rem !important;
}
.mb-2 {
	margin-bottom: 0.5rem !important;
}
.ml-2 {
	margin-left: 0.5rem !important;
}
.mt-1 {
	margin-top: 0.25rem !important;
}
.p-4 {
	padding: 2rem !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
